{% extends "layout.html" %}
{% block content %}
<!-- Instructors -->
    <section id="instructors" class="p-5", style="background-color:#007bff;">
        <div class="container">
            <h2 class="text-center text-white">Teachers</h2>
            <p class="lead text-center text-white mb-5">The teachers of this course have more than five years of experience in
                programing and designing electricity markets.
            </p>
            <div class="row g-2">
                <!-- Mario -->
                <div class="col-md-6 col-lg-6">
                    <div class="crd bg-light">
                        <div class="card-body text-center">
                            <img src="static/profile_pics/mario_square_273_273.svg"
                                 class="rounded-circle w-50 mb-3"
                                 alt=""
                            />
                            <h3 class="card-title mb-3">Mario Blázquez</h3>
                            <p class="card-text">Mario works in energy economics with an
                                special focus on the design of electricity markets by using theoretical
                                models and simulations. He teaches the course Sustainable Energy at NHH,
                                where he connects green economy, digitalization, and app development.
                                In his research and teaching, he uses different programming languages to create apps to conduct
                                economic analysis in the fields of energy economics and sustainability.
                            </p>
                            </br>
                            <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Personal Web</a>
                        </div>
                    </div>
                </div>
                <!-- Gabriel -->
                <div class="col-md-6 col-lg-6">
                    <div class="crd bg-light">
                        <div class="card-body text-center">
                            <img src="static/profile_pics/gabriel_square_273_273.svg"
                                 class="rounded-circle w-50 mb-3"
                                 alt=""
                            />
                            <h3 class="card-title mb-3">Gabriel Fuentes</h3>
                            <p class="card-text">Gabriel works in shipping optimization and analytics with a strong interest on decarbonization.
                                He developed the real time emissions and efficiency indicators dashboard for the Maritime
                                Technical Cooperation Center Latin America (MTCC LatinAmerica) -
                                a specialized center funded by the European Union and implemented by the International Maritime Organization (IMO).
                                His research exploits innovative data science technics with a sound knowledge of shipping economics
                                and shipping operations management.
                            </p>
                            <a href="https://www.gabrielfuentes.org" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Personal Web</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}